<header class="header">
    <div class="logo"><a href="/"><img src="../img/lab3d_colo_h50.png" width="86" height="50" alt="lab3d logo" /></a></div>
    
        <button class="menu-toggle"><img src="../img/btn/lab_menu.png" height="50" alt="menu" /></div></button>
    
    <nav>
        <a href="/index2.html#coworking">Coworking</a>
        <a href="/index2.html#reunion">Salle réunion</a>
        <a href="/index2.html#fablab">Fablab/Atelier</a>
		<a href="/le-projet.html#projet">Le Projet</a>		
        <a href="/index2.html#contact">Infos/Contact</a>
    </nav>
    <div class="section-indicator"></div>
</header>